
body{
    background-color:darkcyan;
    color:white;
    margin: 20px;
    padding: 40px;
    text-align: center;
    font-size: 1.3rem;
}
button{
    color : hotpink;
    border:none ;
    height:25px;
    border-radius:6px;
    font-weight: bold;
}
.head{
    color :darkred;
    box-shadow: 0 8px 16px 4px blue;
    font-style: italic;

}