body{
    background-color: skyblue;
    font-size: 1.2rem;
   text-align: center;
    color: maroon;
    
    margin:20px;
    padding: 40px;
    text-transform: uppercase;
}
#btn,#btn2{
    color: #fff;
    background-color:blue;
    text-align: center;
    text-transform: uppercase;
    margin: auto;
    border: none;
    border-radius:5px;
    height: 35px;
    transition: 0.6s;

}
#btn:hover{
    
    transition: 0.6s;
    box-shadow: 0px 5px 10px 0px hotpink;

}
#btn2:hover{
    
    transition: 0.6s;
    box-shadow: 0px 5px 10px 0px hotpink;

}